body,html{
  	height: 100%;  
}

body {
	padding-top: 70px;
}


img {
	max-height: 80%;
	width: auto;
}

header{
 	background-color: maroon;
  	height: 2%;
 	width: 100%;
}

#namebox {
	padding-top: 2%;
}

#display{
  	width: 100%;
  	height: 96%;

}

footer{
  	width: 100%;
  	height: 2%;
  	background-color:maroon;
}