
body{
	margin: 0;
	width:100%;
  	padding-top: 70px;
  	background: linear-gradient(135deg, #61efca, #ffa06f, #83aeff);
	background-size: 600% 600%;
	-webkit-animation: AnimationName 60s ease infinite;
	-moz-animation: AnimationName 60s ease infinite;
	-o-animation: AnimationName 60s ease infinite;
	animation: AnimationName 60s ease infinite;
   }

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.navbar, .navbar-inverse {
	margin-bottom: 0;
	min-height: 70px;
}


#outerbox {
	padding-top: 50px;
}
.center
{ 
  margin-left: auto;
  margin-right: auto;
}
.bold{
font-weight:bold;
font-size:20px}

/* Everything under this is unused in the bootstrap version  */
.outerbox	{ 
	padding: 20px; 
    margin: 0 auto;
	text-align: center;	
   	background-color: silver grey;
   		
   		
		} 

		
.box1	{ 
		position:relative;
		width:100%;
    	height:400px;    		
		border: 5px solid grey;  			
   		background: silver grey;
   		float:left; 
   		  		
		}
.box2{	
		position:relative;
		width:100%;
    	height:100%;    		
		border: 5px solid grey;  			
   		background-color: silver grey;
   		float:right;
   		margin-right:10%;
	}
.line1{
	position:realtive;
	width:2px;
	height:500px;
	border-left:2px solid blue;
	float: right;
	margin-right:100%;
}
.line2{
	position:realtive;
	width:2px;
	height:500px;
	border-left:2px solid blue;
	float: left;
	
	margin-right: 100%
}

img	{	
	margin:auto; 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
	
.row {
    display: table;
}

[class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.listItem{
	width:100%;
	display:inline-block;
}
.listImage{
	width:32px;
	height:32px;
	max-width:32px;
	max-height:32px;
}
.style2 {
	border-top: 3px double #8c8b8b;
}
-------------------------------------------

.typerwriter
{
  font:500 22px consolas;    
  width:20ch;
  white-space:nowrap;
  overflow:hidden;
  animation:type 5s steps(20) infinite;
}
@keyframes type
{
  0%{ width:0; } 
}



