html {
	height: 100%;
	margin: 0;
}

body{
	height: 100%;
  	padding-top: 70px;
  	background: linear-gradient(135deg, #61efca, #ffa06f, #83aeff);
	background-size: 600% 600%;
	-webkit-animation: AnimationName 60s ease infinite;
	-moz-animation: AnimationName 60s ease infinite;
	-o-animation: AnimationName 60s ease infinite;
	animation: AnimationName 60s ease infinite;
	margin: 0;
   }
   

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.navbar, .navbar-inverse {
	margin-bottom: 0;
	min-height: 70px;
}


#outerbox {
	padding-top: 50px;
}

.center { 
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.bold {
	font-weight:bold;
	font-size:20px
}

img	{	
	margin:auto; 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
	
.row {
    display: flex;
}

[class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.listItem{
/* 	width:45%; */
	display:inline-block;
	margin-left: auto;
	margin-right: auto;
	font-weight: normal;
	font-size: 15px;
	border: 2px double white;
}
.listImage{
	width:32px;
	height:32px;
	max-width:32px;
	max-height:32px;
}

/* Jesus help me  */

#display {
	text-align: center;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
    	float: none;
    	display: table-cell;
    	vertical-align: top;
        width: 100%;
    }
    
    #display {
    	text-align: center;
    	padding-top: 5px;
    	padding-bottom: 5px;
    	border-top: 2px solid white;
    }
    
    #listcontainer {
    	padding-bottom: 5px;
    }
    
    #relcolumn {
   		border-top: 2px solid white;
    }
    
    
}