
body{
	margin: 0;
	width:100%;
  	padding-top: 70px;
   }

#outerbox {
	padding-top: 50px;
}

/* Everything under this is unused in the bootstrap version  */
.outerbox	{ 
		position:absolute;
		width:96.25%;
		height:85.05%;
			
		padding: 20px; 
		border: 5px solid limegreen;  			
   		background-color: silver grey; 
   		
   		
		} 

		
.box1	{ 
		position:relative;
		width:30%;
    		height:70%;    		
		border: 5px solid limegreen;  			
   		background: silver grey;
   		float:left; 
   		  		
		}
.box2{	
		position:relative;
		width:50%;
    		height:70%;    		
		border: 5px solid limegreen;  			
   		background-color: silver grey;
   		float:right;
   		margin-right:10%;
	}

img	{	
	margin:auto; 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
	
.row {
    display: table;
}

[class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.listItem{
	width:100%;
}
.listImage{
	width:32px;
	height:32px;
	max-width:32px;
	max-height:32px;
}
