.root{
	-fx-background: rgb(220,220,228);
}

.text-field{
	-fx-background-color: rgb(250,250,254);
}

.text-area .content{
	-fx-background-color: rgb(250,250,254);
}

.button {
	-fx-background-color:
		linear-gradient(#ba68c8, #4a148c),
		radial-gradient(center 50% -40%, radius 200%, #ba68c8 45%, #ad59bc 50%);
	-fx-background-radius: 6, 5;
	-fx-background-insets: 0, 1;
	-fx-effect: dropshadow( three-pass-box, rgba(0,0,0,0.4), 5, 0.0, 0, 1);
	-fx-text-fill: #395306;
}

.button:hover {
	-fx-background-color: -fx-shadow-highlight-color, -fx-body-color, 
		linear-gradient(#c174cf, #c173cf),
		radial-gradient(center 50% -40%, radius 200%, #c173cf 45%, #b563c4 50%);
  	-fx-background-radius: 6, 5;
	-fx-background-insets: 0, 1;
	-fx-effect: dropshadow( three-pass-box, rgba(0,0,0,0.4), 5, 0.0, 0, 1);
	-fx-text-fill: #395306;
}

.button:pressed {
	-fx-background-color: -fx-shadow-highlight-color, -fx-body-color, 
		linear-gradient(#b05dbf, #4a148c),
		radial-gradient(center 50% -40%, radius 200%, #b05dbf 45%, #a54fb5 50%);
	-fx-background-radius: 6, 5;
	-fx-background-insets: 0, 1;
	-fx-effect: dropshadow( three-pass-box, rgba(0,0,0,0.4), 5, 0.0, 0, 1);
	-fx-text-fill: #395306;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    /*-fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);*/
    -fx-text-fill: rgb(240,240,244);
}

.list-cell:even { 
    -fx-background-color: rgb(240,240,244);
}

.list-cell:odd {
	-fx-background-color: rgb(250,250,250);
}

.list-cell:filled:hover {
    -fx-background-color: #039be5;
    -fx-text-fill: rgb(240,240,244);
}

.search-list {
	-fx-background-color: rgb(240,240,244)
}